
@media (min-width:997px){
    body{
        font-family: Helvetica,Arial,sans-serif;
        font-size: 12px;
        border: 0px;
        margin: 0px;
        padding:0px;
        line-height: 1.34;
    }
.loggedout_menubar_container
{
    height:82px;
    min-width: 980px;
    background-color: #3b5998;
    border:0px;
    margin:0px;
    padding:0px;
    display: block;
    font-family: inherit;
    line-height: 16.08px;
}
.loginlabel
{
    color:#fff;
    padding-left:1px;
    font-weight:normal;
}
#forgot
{
    color: #9cb4d8;
    font-weight: normal;
    text-decoration: none;
}
#forgot:hover{
    text-decoration: underline;
}
#loginbtn
{
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    vertical-align: top;
    white-space: nowrap;
    background-color: #4267b2;
    border:2px solid;
    border-color: #29487d;
    color:#fff;
    line-height: 18px;
}
#loginbtn:hover
{
    background-color: #365899;
    border-color: #29487d;
}
.loggedout_menubar
{
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    padding-top:13px;
    display:block;
}
table 
{
    border-collapse: separate;
    border-spacing: 2px;
}
td
{
    padding:0px 0px 0px 14px;
}
.logo
{
    font-family: 'Segoe UI',Tahoma, Geneva, Verdana, sans-serif;
    font-size: 160%;
    float: left;
    cursor: pointer;
    
}
#login_container
{
    float:right;
}
#homepage_redirect
{
    text-decoration: none;
    color: #fff;
}
#login,#password
{
    width: 142px;
    margin:0px;
    border:1px;
    border-color:#1d2a5b;
    padding:3px;
}
.bgcontainer
{
    background: linear-gradient(white, #D3D8E8);
    display:block;
    height:598px;
    margin-left: auto;
    margin-right: auto;
    /* max-width: 980px; */
}
.bgsubcontainer
{
    margin-left: auto;
    margin-right: auto;
    display:block;
    max-width:980px;
    height:598px;
}
.mobContentContainer{
    display: none;
}
.description
{
    color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    margin-top: 40px;
    width: 480px;
    word-spacing: -1px;
}
img
{
    width: 536px;
    height: 194px;
}
.left-container
{
    margin-right: 15px;
    width: 565px;
    height:inherit;
    float:left;
}
.right-container
{
    display: block;
    position: relative;
    width: 406.333;
    height:inherit;
}
.acc_create
{
    font-family: inherit;
    font-size: 36px;
    color: #333;
    font-weight: 600;
    padding-top:20px;
    padding-bottom:10px;
}
.acc_create_desc
{
    color: #1d2129;
    font-size: 19px;
    font-family: inherit;
    margin-bottom:20px;
}
#regform
{
    display:block;
}
#firstname
{
    width: 172px;
    font-size: 18px;
    padding: 8px 10px;
    border-radius: 5px;
    border:1px solid #ccd0d5;
    margin-right: 7px;
    background-color: #fff;
    color: #1c1e21;
    margin-bottom:10px;
}
#surname
{
    width: 172px;
    font-size: 18px;
    padding: 8px 10px;
    border-radius: 5px;
    border:1px solid #ccd0d5;
    margin: 0px;
    background-color: #fff;
    color: #1c1e21;
}
#contact
{
    width: 377px;
    font-size: 18px;
    padding: 8px 10px;
    border-radius: 5px;
    border:1px solid #ccd0d5;
    background-color: #fff;
    color: #1c1e21;
    margin-bottom:10px;
}
#pwd
{
    width: 377px;
    font-size: 18px;
    padding: 8px 10px;
    border-radius: 5px;
    border:1px solid #ccd0d5;
    margin-bottom: 10px;
    background-color: #fff;
    color: #1c1e21;
}
.bgheader
{
    font-family: inherit;
    color: #90949c;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.header_wrapper
{
    width:377px;
    margin-bottom: 5px;
}
.rdobtn_label
{
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    padding: 0 10px 0 3px;
}
#days,#months,#years
{
    font-size: 13px;
    height: 30px;
    padding: 5px;
}
#questionmark {
        width: 16px;
        height: 16px;
        display: block;
}
.gender_container,.birthday_container
{
    margin-top: 5px;
    display:block;
    font-family: inherit;
    width: inherit;
    float:left;
    position: relative;
}
.form_paragraph_container
{
    color: #777;
    font-size: 11px;
    width: 316px;
    float:left;
}
.form_paragraph_container p span{
    color: #385898;
    cursor: pointer;
}
.form_paragraph_container p span:hover{
    text-decoration: underline;
}
#celeb_pages span{
    color: #385898;
    cursor: pointer;
}
#celeb_pages span:hover{
    text-decoration: underline;
}
.regbtn
{
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: normal;
    font-size: 19px;
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
    background: linear-gradient(#67ae55, #578843);
    border: 1px solid;
    border-radius: 5px;
    border-color: #3b6e22 #3b6e22 #2c5115;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}
#celeb_pages
{
    border-top: 1px solid #dddfe2;
    color: #666;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 15px;
}
.footer{
    color: #737373;
    margin-left: auto;
    margin-right:auto;  
    max-width:980px;
    margin-top:30px;
    display:block;
    background:#fff;
    
}
.footer-container{
    max-width: 980px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.language{
    list-style-type: none;
    text-align: left;
    /* width:inherit; */
    padding-left:0;
    max-width:inherit;
    margin-left:auto;
    margin-right:auto;

}
.footer ul a
{
    text-decoration: none;
    white-space: nowrap;
    color:#385898;
    cursor: pointer;
}
.footer .language li{
    float:left;
    margin-right:10px;
    margin-top:10px;
    margin-bottom:10px;
}
#contentCurve{
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 8px;
    margin-top:8px;
    margin-bottom: 8px;
    display:block;
}
.footer .language{
    list-style-type: none;
    padding-left: 0;
    /* display:inline-block; */
}
.footer .related li{
    color: #385898;
    cursor: pointer;
    padding-right:18px;
    margin-bottom:0;
    line-height: 1.6;
    float:left;

}
.footer .related{
    list-style-type: none;
    padding-left: 0;
    display:inline-block;

}
.footer ul li:hover{
    text-decoration: underline;
}
#copyright{
    display: block;
    font-size: 11px;
    margin-top:15px;
    margin-bottom: 15px;
}
.mobContentContainer{
    display: none;
}
.mobFooter{
    display: none;
}
}
@media only screen and (min-width: 0px) and (max-width:996px)
{
    body{
        margin:0;
        width:auto;
        padding:0;
    }
    .loggedout_menubar_container{
        background: #3b5998;
        height: 44px;
        margin: 0;
        width: 100%;
        /* display:block; */
    }
    .loggedout_menubar
    {
        /* display:block;
        height:inherit;
        padding-top:9px;
        padding-bottom:9px;
        margin-top: 9px;
        margin-bottom: 9px;
        margin-left:auto;
        margin-right:auto;
        display: none; */
        padding: auto;
        
    }
    .logo {
        
        text-align: center;
    }
    .logo a h1{
        font-size: 25px;
        position:absolute;
        left:50%;
        margin-left: -50px;
        margin-top:5px;
        color:#fff;
    }
    .header {
        /* text-align: center; */
        display:block;
        font-family: 'Segoe UI',Tahoma, Geneva, Verdana, sans-serif;
        

    }
    .bgcontainer{
        background: #fff;
        width:100%;
    }
    .mobContentContainer{
        display: block;
        font-size: 14px;
        line-height: 18px;
        margin: 0 auto;
        /* width: 416px; */
        width:100%;
        height: 310px;
        /*padding: 0 16px;  */
        font-family: Helvetica, Arial, sans-serif;
        /* border: 3px solid green; */

    }
    .mobLoginForm{
        margin-top:16px;
        /* padding-left: 0px;
        padding-right: 0px;
        margin-left:0px;
        margin-right:0px; */
        display: block;
        /* width:100%; */
        padding:0 16px;
        
    }
    .mobContentContainer form input{
        display: block;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        text-align: start;
        background: #f5f6f7;
        font-size: 14px;
        line-height: 20px;
        width:100%;
        /* border: 0;
        margin: 0; */
        padding:12px;
        
    }
    #mlogin{
        border-color: rgba(0, 0, 0, .07) rgba(0, 0, 0, .11) rgba(0, 0, 0, .18);
        border-radius: 4px 4px 0px 0px;
        border-style: solid;
        border-width: 1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        top: -1px;
        box-sizing: border-box;
    }
    #mpass{
        border-color: rgba(0, 0, 0, .07) rgba(0, 0, 0, .11) rgba(0, 0, 0, .18);
        border-radius: 0px 0px 4px 4px ;
        border-style: solid;
        border-width: 1px;
        border-top-width: 0px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        top: -1px;
        box-sizing: border-box;
    }
    #mloginbutton{
        display: block;
        width: 100%;
        font-size: 14px;
        height: 36px;
        /* line-height: 36px; */
        padding: 0 16px;
        margin-top:12px;
        color: #fff;
        font-weight: bold;
        font-family: sans-serif;
        background-color: #1877f2;
        border-radius: 4px;
        bottom: -1px;
        left: -1px;
        pointer-events: none;
        right: -1px;
        top: -1px;
        transform: none;
        z-index: -1;
        border-radius: 4px;
        border-style: solid;
    }
    .separator{
        margin: 12px 0 14px 0;
        width: 100%;
        display: block;
        overflow: hidden;
        text-align: center;
        white-space: nowrap;
        /* padding-left:12px;
        padding-right:12px; */
        /* border-top: 1px solid #ccd0d5;
        line-height: 1px; */
    }
    .separatorContent{
        color: #4b4f56;
        font-family: Helvetica, Arial, sans-serif;
        /* margin-left:15px;
        margin-right:15px; */
    }
    .separatorContent:before,.separatorContent:after {
        background-color: #ccd0d5;
        content:"";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
    }
    .separatorContent:before {
        right: 15px;
        margin-left: -50%;
    }
    .separatorContent:after {
        left: 15px;
        margin-right: -50%;
    }
    .signup-mobile{
        padding-top:12px;
        padding-bottom:12px;
        display: block;
        text-align: center;
    }
    #signup-button-mobile{
        cursor: pointer;
        font-size: 14px;
        height: 36px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 5px;
        background: #00a400;
        border: none;
        box-shadow: none;
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .35);   
        line-height: 27px;
        border-radius: 4px;
        box-sizing: border-box;
        display: inline-block;
        font-weight: bold;
        min-width: 50px;
        overflow: hidden;
    }
    .forgot-pass-mobile{
        display:block;
        text-align: center;
    }
    .forgot-pass-mobile a{
        text-decoration: none;
        color: #7596c8;
        font-family: 'Roboto-Regular', 'Helvetica', 'sans-serif';
    }
    .mobFooter{
        padding:8px;
        text-align:left;
        display:block;
        cursor: pointer;
        font-size: 14px;
        line-height: 18px;
        font-family: Helvetica, Arial, sans-serif;
        /* border: 3px solid green; */
        margin:0 auto;
    }

    .mobFooterContainer{
        padding:6px;
        display:block;
        font-size: 12px;
    }
    .mobFooterLeftContainer{
        width:40%;
        text-align:center;
        /* border:3px solid red; */
        float:left;
    }
    .mobFooterLeftContainer ul{
        list-style-type: none;
    }
    .mobFooterLeftContainer ul li,.mobFooterRightContainer ul li{
        color: #576b95;
        cursor: pointer;
        text-decoration: none;
    }
    .mobFooterRightContainer{
        width:40%;
        text-align:center;
        /* border:3px solid red; */
        position:relative;
        float:right;
    }
    .mobFooterRightContainer ul{
        list-style-type: none;
    }
    .eng{
        color: #90949c;
        font-weight: bold;
    }
    .more{
        font-weight:bold;
        border:1px solid #576b95;
        border-radius:2px;
        padding:1px;
        margin:0px;
        width:15px;
        height:15px;
        margin:0 auto;
        font-size:15px;
    }
    #login_container {
        display: none;
    }
    .bgsubcontainer{
        display: none;
    }
    .footer_container{
        display: none;
    }
}

